.wrap {
  position: absolute;
  left: 35px;
  bottom: 35px;
  width: 227px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
  * {
    padding: 0;
    margin: 0;
  }
  .info {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
    .empty {
      color: $grey1;
    }
    .few {
      color: $red1;
    }
    .some {
      color: $yellow1;
    }
    .plenty {
      color: $green1;
    }
    &:nth-child(1) {
      border: 0;
      box-shadow: 0px 1px 2px #888;
    }
    &::after {
      content: "";
      position: absolute;
      margin-left: -12px;
      left: 50%;
      bottom: 0;
      width: 22px;
      height: 12px;
      background: url("http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
    }
    .link {
      color: #5085bb;
    }
    .title {
      padding: 5px 0 0 10px;
      height: 30px;
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-size: 18px;
      font-weight: bold;
    }
    .close {
      position: absolute;
      top: 4px;
      right: 10px;
      color: #888;
      width: 17px;
      height: 17px;
    }
    .close:hover {
      cursor: pointer;
    }
    .body {
      position: relative;
      overflow: hidden;
    }
    .desc {
      position: relative;
      height: 85px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .status {
        font-size: 1.1rem;
        font-weight: 750;
      }
      .created-at {
        font-size: 0.9rem;
      }
      .addr {
        color: white;
        border-radius: 10px;
        background: #f9ca24;
        text-decoration: none;
        @include flex(row, center, center);
        padding: {
          left: 10px;
          right: 10px;
        }
        margin: {
          top: 1px;
          left: 5px;
          right: 5px;
        }
      }
    }
  }
}
