.loading-container {
  opacity: 0;
  display: none;
}
.before-loading .loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  transition: 0.6s;
  .loading-text {
    font-size: 2rem;
    font-weight: 700;
  }
  .loading-svg {
    @keyframes loadingCircle {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    width: 54px;
    height: 54px;
    animation: loadingCircle 3s infinite;
    .loading-circle {
      @keyframes loadingAni {
        0% {
          stroke-dashoffset: 157;
        }
        70% {
          stroke-dashoffset: -142;
        }
        100% {
          stroke-dashoffset: -157;
        }
      }
      stroke: black;
      stroke-width: 4;
      fill: transparent;
      stroke-dasharray: 157;
      stroke-dashoffset: -157;
      animation: loadingAni 1.1s ease-in-out infinite;
    }
  }
}
