@include mobile {
  body {
    margin: 0;
    padding: 0;
  }
  header {
    background-color: $greensea !important;
    z-index: 5 !important;
    display: flex !important;
  }
  .side {
    z-index: 10 !important;
  }
  .row {
    justify-content: space-between;
  }
  .wrapper {
    display: flex;
    align-items: center;
    .mdl-layout-title {
      display: none;
    }
    .search {
      display: flex;
      align-items: center;
      margin-left: 0px;
      label {
        border-radius: 0;
        background: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #636363;
        border-right: 1px solid #e3e3e3;
      }
      #search {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 30px;
        width: 45vw;
        padding: 10px;
        font-size: 1.1rem;
      }
    }
  }
  .gps-button {
    padding: 0.8rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 1px 4px 1px #676767;
    cursor: pointer;
    .fa-crosshairs {
      font-size: 1.5rem;
    }
  }
  .stock-notice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    width: 8rem;
    height: 10rem;
    z-index: 1;
    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .info {
        border-radius: 20px;
        padding: 0 5px;
        &:nth-child(1) {
          background-color: #0f9e0f38;
        }
        &:nth-child(2) {
          background-color: #d2d21c4d;
        }
        &:nth-child(3) {
          background-color: #b1151530;
        }
        &:nth-child(4) {
          background-color: #a5a0a03b;
        }
      }
      span {
        color: #211a1a;
        font-size: 0.8rem;
        font-weight: 800;
      }
    }
  }
  .info-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(60px);
    z-index: 1;
    width: 100vw;
    height: 10vh;
    background-color: #ffffff96;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0px;
    .notice {
      color: $blue1;
      font-weight: 800;
      text-shadow: 1px 1px 5px #9e9e9ec4;
      font-size: 0.8rem;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0px;
      font-size: 0.75rem;
      .today {
        font-weight: 800;
      }
    }
  }
}
@include tablet {
  body {
    margin: 0;
    padding: 0;
  }
  header {
    background-color: $greensea !important;
    z-index: 5 !important;
    display: flex !important;
  }
  .side {
    z-index: 10 !important;
  }
  .row {
    justify-content: space-between;
  }
  .wrapper {
    display: flex;
    align-items: center;
    .search {
      display: flex;
      align-items: center;
      margin-left: 20px;
      label {
        border-radius: 0;
        background: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #636363;
        border-right: 1px solid #e3e3e3;
      }
      #search {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 30px;
        width: 50vw;
        padding: 10px;
        font-size: 1.1rem;
      }
    }
  }
  .gps-button {
    padding: 0.8rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    .fa-crosshairs {
      font-size: 1.5rem;
    }
  }
  .stock-notice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    width: 10rem;
    height: 10rem;
    z-index: 1;
    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .info {
        border-radius: 20px;
        padding: 0 5px;
        &:nth-child(1) {
          background-color: #0f9e0f38;
        }
        &:nth-child(2) {
          background-color: #d2d21c4d;
        }
        &:nth-child(3) {
          background-color: #b1151530;
        }
        &:nth-child(4) {
          background-color: #a5a0a03b;
        }
      }
      span {
        color: #211a1a;
        font-size: 0.8rem;
        font-weight: 800;
      }
    }
  }
  .info-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(70px);
    z-index: 1;
    width: 25vw;
    height: 10vh;
    background-color: #ffffff96;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0px;
    .notice {
      color: $blue1;
      font-weight: 800;
      text-shadow: 1px 1px 5px #9e9e9ec4;
      font-size: 1rem;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0px;
      .today {
        font-weight: 800;
      }
    }
  }
}
@include desktop {
  body {
    margin: 0;
    padding: 0;
  }
  header {
    background-color: $greensea !important;
    z-index: 5 !important;
    display: flex !important;
  }
  .side {
    z-index: 10 !important;
  }
  .row {
    justify-content: space-between;
  }
  .wrapper {
    display: flex;
    align-items: center;
    .search {
      display: flex;
      align-items: center;
      margin-left: 20px;
      label {
        border-radius: 0;
        background: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #636363;
        border-right: 1px solid #e3e3e3;
      }
      #search {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 30px;
        width: 25vw;
        padding: 10px;
        font-size: 1.1rem;
      }
    }
  }
  .gps-button {
    padding: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
    .fa-crosshairs {
      font-size: 1.5rem;
    }
  }
  .stock-notice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;

    width: 10rem;
    height: 10rem;
    z-index: 1;
    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .info {
        border-radius: 20px;
        padding: 0 5px;
        &:nth-child(1) {
          background-color: #0f9e0f38;
        }
        &:nth-child(2) {
          background-color: #d2d21c4d;
        }
        &:nth-child(3) {
          background-color: #b1151530;
        }
        &:nth-child(4) {
          background-color: #a5a0a03b;
        }
      }
      span {
        color: #211a1a;
        font-size: 0.8rem;
        font-weight: 800;
      }
    }
  }
  .info-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(70px);
    z-index: 1;
    width: 20vw;
    height: 10vh;
    background-color: #ffffff96;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0px;
    .notice {
      color: $blue1;
      font-weight: 800;
      text-shadow: 1px 1px 5px #9e9e9ec4;
      font-size: 1.1rem;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 5px;
      .today {
        font-weight: 800;
      }
    }
  }
}
