body {
  margin: 0;
  padding: 0;
}

.row {
  justify-content: space-between;
}

header {
  background-color: $greensea !important;
  display: flex !important;
}

.wrapper {
  @include flex(row, center, none);
  .search {
    @include flex(row, center, none);
    label {
      border-radius: 0;
      background: white;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      color: #636363;
      border-right: 1px solid #e3e3e3;
    }

    #search {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 30px;
      font-size: 1.1rem;
      padding: 10px;
    }
  }
}
.button-container {
  @include flex(row, center, center);
}

.stock-notice-container {
  @include flex(row, center, center);
  position: absolute;
  right: 0;
  bottom: 13%;
  background-color: transparent;
  height: 13rem;
  z-index: 1;
  .img-container {
    @include flex(column, none, center);
    .info {
      @include info();
    }

    span {
      color: #211a1a;
      font-size: 0.8rem;
      font-weight: 800;
    }
  }
}

.map-container {
  height: 100vh;
}

.ad-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  @include flex(row, center, center);
  height: 12%;
  background-color: #bfc1be00;
  margin: 5px;
  iframe {
    width: 50vw;
  }
}

.info-wrapper {
  @include flex(column, center, center);
  position: absolute;
  transform: translateY(70px);
  z-index: 1;
  width: 100vw;
  height: 10vh;
  z-index: 1;
  background-color: #ffffff96;
  padding: 5px;
  margin: 0px;
  .notice {
    font-weight: 800;
    text-shadow: 1px 1px 5px #9e9e9ec4;
  }

  p {
    @include flex(row, center, center);
    width: 100%;
    font-weight: 700;
    .today {
      font-weight: 800;
    }
  }
}

@include mobile {
  .fixed-header {
    @include flex(row, none, none);
    position: fixed;
    width: 100vw !important;
    height: 57px !important;
    z-index: 2;
  }

  header {
    width: 100vw !important;
    height: 57px !important;
  }

  .wrapper {
    .mdl-layout-title {
      display: none;
    }

    .search {
      margin-left: 0px;
      #search {
        width: 45vw;
      }
    }
  }

  .button-container {
    .gps-button,
    .remain-button {
      padding: 0.8rem;
      border-radius: 50%;
      background-color: white;
      font-weight: 800;
      cursor: pointer;
      .fa-crosshairs {
        font-size: 1.5rem;
      }
    }

    .remain-button {
      display: none;
    }
  }

  .stock-notice-container {
    width: 8rem;
  }

  .info-wrapper {
    top: -5px;
    right: 0;
    transform: translateY(60px);
    .notice {
      color: $blue1;
      font-size: 0.8rem;
    }

    p {
      margin: 0px;
      font-size: 0.75rem;
    }
  }
}

@include tablet {
  header {
    z-index: 5 !important;
  }

  .side {
    z-index: 10 !important;
  }

  .wrapper {
    .search {
      margin-left: 20px;
      #search {
        width: 50vw;
      }
    }
  }

  .button-container {
    .gps-button,
    .remain-button {
      height: 50px;
      width: 50px;
      padding: 0.8rem;
      border-radius: 50%;
      background-color: white;
      font-weight: 800;
      cursor: pointer;
      .fa-crosshairs {
        font-size: 1.5rem;
      }
    }
  }

  .stock-notice-container {
    width: 10rem;
  }

  .info-wrapper {
    top: -14px;
    right: 0;
    transform: translateY(70px);
    .notice {
      color: $blue3;
      font-size: 1rem;
    }

    p {
      margin: 0px;
    }
  }
}

@include desktop {
  header {
    z-index: 5 !important;
  }

  .side {
    z-index: 10 !important;
  }

  .wrapper {
    .search {
      margin-left: 20px;
      #search {
        width: 25vw;
      }
    }
  }

  .button-container {
    .gps-button,
    .remain-button {
      height: 50px;
      width: 50px;
      padding: 0.8rem;
      border-radius: 50%;
      background-color: white;
      font-weight: 800;
      margin: 2px;
      cursor: pointer;
      .fa-crosshairs {
        font-size: 1.5rem;
      }
    }
  }

  .stock-notice-container {
    width: 10rem;
  }

  .info-wrapper {
    top: -12px;
    right: 0;
    transform: translateY(70px);
    .notice {
      color: $blue3;
      font-size: 1.1rem;
    }

    p {
      margin: 5px;
    }
  }
}
