.toggle-bar-container {
  position: absolute;
  background-color: white;
  border-radius: 10%;
  z-index: 2;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .toggle-bar {
    font-size: 1.5rem;
  }
}

@include mobile {
  .toggle-bar-container {
    right: 10px;
    top: 65px;
  }
}

@include tablet {
  .toggle-bar-container {
    right: 15px;
    top: 150px;
  }
}

@include desktop {
  .toggle-bar-container {
    right: 40px;
    top: 150px;
  }
}
