.warn-wrapper {
  margin: 10px;
  .dummy {
    font-weight: 800;
  }
}
.main-title,
.side-title {
  font-weight: 700 !important;
}
.source-from {
  font-size: 0.8rem !important;
  background: white;
  margin: 10px !important;
  padding: 5px !important;
  border: 5px solid;
  border-radius: 10px;
}
