extends ./layout/layout
block content 
    include ./partials/header
    .map-container
        div(id="map" style="width:100vw;height:100vh;")
        .info-wrapper 
            p.today=`오늘은 ${today.day}요일 입니다`
        include ./partials/stockNotice
        include ./partials/toggleBar
        include ./partials/loading
    include ./partials/modal



