extends ./layout/layout
block content 
    include ./partials/header
    main.map-container
        section(id="map" style="width:100vw;height:100%;")
        .info-wrapper 
            p.today=`오늘은 ${today.day}요일 입니다`
            include ./partials/shareButtons
        include ./partials/stockNotice
        include ./partials/toggleBar
        include ./partials/loading
        section.ad-container
            script.
                new PartnersCoupang.G({ id:266436 });




