.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.fixed-header
    header.header.mdl-layout__header
        div.mdl-layout__header-row.row
         <!-- Title -->
            .wrapper
                span.mdl-layout-title.main-title #{siteTitle}
                include ./searchBar
            include ./gpsButton
        <!-- Add spacer, to align navigation to the right -->
            div.mdl-layout-spacer
    .mdl-layout__drawer.side
        span.mdl-layout-title.side-title 마스크's Up
        ul.warn-wrapper
            li.dummy 주의:
            li 1.마스크 재고는 현장과 5~10분 정도 차이가 있어 부정확 할 수 있습니다. 
            li 2.마스크 재고는 08시 ~ 23시 사이에만 업데이트 됩니다.
        nav.mdl-navigation
            p.mdl-navigation__link 개발자 DanYJ
            a.mdl-navigation__link(href="https://github.com/leye195") Github: https://github.com/leye195
        nav.mdl-navigation
            div.mdl-navigation__link.source-from 
                p 정보 출처: 
                p 심평원‧정보화진흥원(공공데이터 포털)‧정보화진흥원(공공데이터포털)
    </nav>