.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.header.mdl-layout__header
        div.mdl-layout__header-row.row
         <!-- Title -->
            .wrapper
                span.mdl-layout-title #{siteTitle}
                include ./searchBar
            include ./gpsButton
        <!-- Add spacer, to align navigation to the right -->
            div.mdl-layout-spacer
    .mdl-layout__drawer
        span.mdl-layout-title MaskUp
        nav.mdl-navigation
            a.mdl-navigation__link 업데이트 예정
    </nav>