.stock-notice-container
    .img-container
        .info
            img(src="/static/img/marker-green.png")
            span 100개 이상
        .info
            img(src="/static/img/marker-yellow.png")
            span 30~99개
        .info
            img(src="/static/img/marker-red.png")
            span 2~29개
        .info
            img(src="/static/img/marker-grey.png")
            span 품절
        .info
            img(src="/static/img/marker-white.png")
            span 판매 중지