$red1: #c0392b;
$red2: #e74c3c;
$yellow1: #f1c40f;
$yellow2: #f9ca24;
$green1: #27ae60;
$green2: #2ecc71;
$blue1: #3498db;
$blue2: #2980b9;
$grey1: #535c68;
$grey2: #dcdde1;
$grey3: #797979d9;
$greensea: #16a085;
